<form action="/todos" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="flex gap-2 py-4">
        <div class="flex-auto">
            <input type="text" placeholder="What's next?" class="border list-disc w-full p-2 text-sm rounded leading-4" name="title" required>
        </div>
        <div class="flex-auto">
            <input type="date" class="border list-disc w-full p-2 text-sm rounded leading-4" name="dueDate" required>
        </div>
        <div class="flex-none">
            <button type="submit" class="bg-green-600 text-white px-2 py-1.5 rounded font-medium mr-2 mb-2 ">
                Add
            </button>
        </div>
    </div>
</form>
