body{
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
}
.Todo-Item:hover .trash-icon {
    display: block;
  }
table, th, td {
    border:1px solid black;
  }
